{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop">
        <h3 class="title has-text-centered">Resetuj Hasło</h3>
        <div class="box">
            <form method="POST" action="{{ url_for('auth.reset_passwd_request') }}">
                {{ form.hidden_tag() }}

                <div class="field">
                    <label class="label" for="{{ form.username.id }}">Email</label>
                    <div class="control has-icons-left">
                        {{ form.username(class="input", placeholder="Email do resetu hasła", autocomplete="username") }}
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </div>
                     <p class="help has-text-grey-light is-size-7">
                        Pamiętaj, że po resecie hasła nie będziesz wstanie odszyfrować wiadomości zaszyfrowanych starym hasłem bez odpowiedniego kodu odzyskiwania!
                    </p>
                    {% for error in form.username.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <button class="button is-primary is-fullwidth is-medium">Zresetuj hasło</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}